In [40]:
def myfunc():  #defining a function
    print('Hello from myfunc')

In [41]:
myfunc() #calling a function

Hello from myfunc

In [42]:
#parameterized function
def name(name):
    print("hello " + name)

In [43]:
b=name("ritima") #arguments
print(b)

hello ritima
None

In [49]:
def func(name):
    return "Hello " + name   #return is used when you want to store value

In [45]:
k=func('Ritima')
print(k)

Hello Ritima

In [50]:
k

'Hello Ritima'

In [46]:
def add(num1,num2,num3):
    return num1+num2+num3

In [47]:
add(4,5,6)

15

In [48]:
add(7,8,9)

24

In [53]:
#default parametrized function
def mycoun(country='India'):
    return country

In [56]:
mycoun('dubai')
mycoun()

'India'

In [59]:

def fruits(fruit):
    for x in fruit:
        print(x)
fruits(['apple','banana','cherry'])

apple
banana
cherry