**- ways to create dict 
- how to access key and values
- loops in dictionary**

In [1]:
student={
    "name" : "John",
    "class": "12th",
    "roll_no":2,
    "age":16}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 2, 'age': 16}

In [8]:
temp={
    'lucknow':[25,56,67,78],
    "delhi":[20,34,56],
    "mumbai":[46,67,23,56]
}
print(temp)

{'lucknow': [25, 56, 67, 78], 'delhi': [20, 34, 56], 'mumbai': [46, 67, 23, 56]}

In [9]:
info=dict(name='John',age=12, classs='12th')
print(info)

{'name': 'John', 'age': 12, 'classs': '12th'}

In [10]:
info2=dict(name=input("Enter your name:"),age=int(input("Enter your age:")),course=input("Enter your course:"))
print(info2)

{'name': 'ritima', 'age': 22, 'course': 'mca'}

In [2]:
#1st method
print(student['age'])
print(student['name'])

16
John

In [3]:
#2nd method
print(student.get('age'))
print(student.get('name'))

16
John

In [4]:
#to add a key-value pair
student['address']='Lucknow'
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 2, 'age': 16, 'address': 'Lucknow'}

In [5]:
student['Pin Code']=363738
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 2, 'age': 16, 'address': 'Lucknow', 'Pin Code': 363738}

In [6]:
for x in student:  #gives only keys
    print(x)

name
class
roll_no
age
address
Pin Code

In [7]:
for k, v in student: #NOT VALID
    print(k,v)

ValueError: too many values to unpack (expected 2)

In [ ]:
for k,v in student.items(): #USING ITEMS() METHOD
    print(f"{k}:{v}")

name:John
class:12th
roll_no:2
age:16
address:Lucknow
Pin Code:363738

In [ ]:
print(student.keys())
print(student.values()) 
print(student.items()) #list of tuples

dict_keys(['name', 'class', 'roll_no', 'age', 'address', 'Pin Code'])
dict_values(['John', '12th', 2, 16, 'Lucknow', 363738])
dict_items([('name', 'John'), ('class', '12th'), ('roll_no', 2), ('age', 16), ('address', 'Lucknow'), ('Pin Code', 363738)])

In [1]:
company= {
    'emp1':{
     'name':'John',
     'age':24,
     'city':'Lucknow',
     'salary':25000
    },
 'emp2':{
     'name':'Sam',
     'age':27,
     'city':'Delhi',
     'salary':29000

    },
    'emp3':{
     'name':'Johnny',
     'age':20,
     'city':'Lucknow',
     'salary':29000
    }
}
print(company)

{'emp1': {'name': 'John', 'age': 24, 'city': 'Lucknow', 'salary': 25000}, 'emp2': {'name': 'Sam', 'age': 27, 'city': 'Delhi', 'salary': 29000}, 'emp3': {'name': 'Johnny', 'age': 20, 'city': 'Lucknow', 'salary': 29000}}

In [2]:
from pprint import pprint

In [3]:
pprint(company)

{'emp1': {'age': 24, 'city': 'Lucknow', 'name': 'John', 'salary': 25000},
 'emp2': {'age': 27, 'city': 'Delhi', 'name': 'Sam', 'salary': 29000},
 'emp3': {'age': 20, 'city': 'Lucknow', 'name': 'Johnny', 'salary': 29000}}